# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/dictionaries/
.idea/workspace.xml
build/android-profile/
build/generated/res/
build/generated/source/aidl/
build/generated/source/r/debug/android/arch/
build/generated/source/r/debug/android/support/compat/
build/generated/source/r/debug/android/support/coreui/
build/generated/source/r/debug/android/support/coreutils/
build/generated/source/r/debug/android/support/design/
build/generated/source/r/debug/android/support/fragment/
build/generated/source/r/debug/android/support/mediacompat/
build/generated/source/r/debug/android/support/test/
build/generated/source/r/debug/android/support/transition/
build/generated/source/r/debug/android/support/v13/
build/intermediates/blame/res/debug/multi-v2/values-az.json
build/intermediates/blame/res/debug/multi-v2/values-b+sr+Latn.json
build/intermediates/blame/res/debug/multi-v2/values-be.json
build/intermediates/blame/res/debug/multi-v2/values-bn.json
build/intermediates/blame/res/debug/multi-v2/values-bs.json
build/intermediates/blame/res/debug/multi-v2/values-en-rCA.json
build/intermediates/blame/res/debug/multi-v2/values-en-rXC.json
build/intermediates/blame/res/debug/multi-v2/values-et.json
build/intermediates/blame/res/debug/multi-v2/values-eu.json
build/intermediates/blame/res/debug/multi-v2/values-gl.json
build/intermediates/blame/res/debug/multi-v2/values-gu.json
build/intermediates/blame/res/debug/multi-v2/values-hy.json
build/intermediates/blame/res/debug/multi-v2/values-is.json
build/intermediates/blame/res/debug/multi-v2/values-ka.json
build/intermediates/blame/res/debug/multi-v2/values-kk.json
build/intermediates/blame/res/debug/multi-v2/values-km.json
build/intermediates/blame/res/debug/multi-v2/values-kn.json
build/intermediates/blame/res/debug/multi-v2/values-ky.json
build/intermediates/blame/res/debug/multi-v2/values-lo.json
build/intermediates/blame/res/debug/multi-v2/values-mk.json
build/intermediates/blame/res/debug/multi-v2/values-ml.json
build/intermediates/blame/res/debug/multi-v2/values-mn.json
build/intermediates/blame/res/debug/multi-v2/values-mr.json
build/intermediates/blame/res/debug/multi-v2/values-ms.json
build/intermediates/blame/res/debug/multi-v2/values-my.json
build/intermediates/blame/res/debug/multi-v2/values-ne.json
build/intermediates/blame/res/debug/multi-v2/values-pa.json
build/intermediates/blame/res/debug/multi-v2/values-si.json
build/intermediates/blame/res/debug/multi-v2/values-sq.json
build/intermediates/blame/res/debug/multi-v2/values-ta.json
build/intermediates/blame/res/debug/multi-v2/values-te.json
build/intermediates/blame/res/debug/multi-v2/values-ur.json
build/intermediates/blame/res/debug/multi-v2/values-uz.json
build/intermediates/blame/res/debug/multi-v2/values-v16.json
build/intermediates/blame/res/debug/multi-v2/values-v24.json
build/intermediates/blame/res/debug/multi-v2/values-v25.json
build/intermediates/blame/res/debug/multi-v2/values-v26.json
build/intermediates/incremental/mergeDebugResources/aapt-temp/
build/intermediates/incremental/mergeDebugResources/merged.dir/values-az/
build/intermediates/incremental/mergeDebugResources/merged.dir/values-b+sr+Latn/
build/intermediates/incremental/mergeDebugResources/merged.dir/values-be/
build/intermediates/incremental/mergeDebugResources/merged.dir/values-bn/
build/intermediates/incremental/mergeDebugResources/merged.dir/values-bs/
build/intermediates/incremental/mergeDebugResources/merged.dir/values-en-rCA/
build/intermediates/incremental/mergeDebugResources/merged.dir/values-en-rXC/
build/intermediates/incremental/mergeDebugResources/merged.dir/values-et/
build/intermediates/incremental/mergeDebugResources/merged.dir/values-eu/
build/intermediates/incremental/mergeDebugResources/merged.dir/values-gl/
build/intermediates/incremental/mergeDebugResources/merged.dir/values-gu/
build/intermediates/incremental/mergeDebugResources/merged.dir/values-hy/
build/intermediates/incremental/mergeDebugResources/merged.dir/values-is/
build/intermediates/incremental/mergeDebugResources/merged.dir/values-ka/
build/intermediates/incremental/mergeDebugResources/merged.dir/values-kk/
build/intermediates/incremental/mergeDebugResources/merged.dir/values-km/
build/intermediates/incremental/mergeDebugResources/merged.dir/values-kn/
build/intermediates/incremental/mergeDebugResources/merged.dir/values-ky/
build/intermediates/incremental/mergeDebugResources/merged.dir/values-lo/
build/intermediates/incremental/mergeDebugResources/merged.dir/values-mk/
build/intermediates/incremental/mergeDebugResources/merged.dir/values-ml/
build/intermediates/incremental/mergeDebugResources/merged.dir/values-mn/
build/intermediates/incremental/mergeDebugResources/merged.dir/values-mr/
build/intermediates/incremental/mergeDebugResources/merged.dir/values-ms/
build/intermediates/incremental/mergeDebugResources/merged.dir/values-my/
build/intermediates/incremental/mergeDebugResources/merged.dir/values-ne/
build/intermediates/incremental/mergeDebugResources/merged.dir/values-pa/
build/intermediates/incremental/mergeDebugResources/merged.dir/values-si/
build/intermediates/incremental/mergeDebugResources/merged.dir/values-sq/
build/intermediates/incremental/mergeDebugResources/merged.dir/values-ta/
build/intermediates/incremental/mergeDebugResources/merged.dir/values-te/
build/intermediates/incremental/mergeDebugResources/merged.dir/values-ur/
build/intermediates/incremental/mergeDebugResources/merged.dir/values-uz/
build/intermediates/incremental/mergeDebugResources/merged.dir/values-v16/
build/intermediates/incremental/mergeDebugResources/merged.dir/values-v24/
build/intermediates/incremental/mergeDebugResources/merged.dir/values-v26/
build/intermediates/incremental/mergeDebugResources/stripped.dir/
build/intermediates/incremental/processDebugResources/
build/intermediates/res/merged/debug/anim-v21_design_bottom_sheet_slide_in.xml.flat
build/intermediates/res/merged/debug/anim-v21_design_bottom_sheet_slide_out.xml.flat
build/intermediates/res/merged/debug/anim_design_bottom_sheet_slide_in.xml.flat
build/intermediates/res/merged/debug/anim_design_bottom_sheet_slide_out.xml.flat
build/intermediates/res/merged/debug/anim_design_snackbar_in.xml.flat
build/intermediates/res/merged/debug/anim_design_snackbar_out.xml.flat
build/intermediates/res/merged/debug/anim_tooltip_enter.xml.flat
build/intermediates/res/merged/debug/anim_tooltip_exit.xml.flat
build/intermediates/res/merged/debug/animator-v21_design_appbar_state_list_animator.xml.flat
build/intermediates/res/merged/debug/color-v23_abc_btn_colored_borderless_text_material.xml.flat
build/intermediates/res/merged/debug/color-v23_abc_btn_colored_text_material.xml.flat
build/intermediates/res/merged/debug/color-v23_abc_tint_btn_checkable.xml.flat
build/intermediates/res/merged/debug/color-v23_abc_tint_default.xml.flat
build/intermediates/res/merged/debug/color-v23_abc_tint_edittext.xml.flat
build/intermediates/res/merged/debug/color-v23_abc_tint_seek_thumb.xml.flat
build/intermediates/res/merged/debug/color-v23_abc_tint_spinner.xml.flat
build/intermediates/res/merged/debug/color-v23_abc_tint_switch_track.xml.flat
build/intermediates/res/merged/debug/color-v23_design_tint_password_toggle.xml.flat
build/intermediates/res/merged/debug/color_abc_btn_colored_borderless_text_material.xml.flat
build/intermediates/res/merged/debug/color_abc_btn_colored_text_material.xml.flat
build/intermediates/res/merged/debug/color_abc_hint_foreground_material_dark.xml.flat
build/intermediates/res/merged/debug/color_abc_hint_foreground_material_light.xml.flat
build/intermediates/res/merged/debug/color_abc_tint_btn_checkable.xml.flat
build/intermediates/res/merged/debug/color_abc_tint_default.xml.flat
build/intermediates/res/merged/debug/color_abc_tint_edittext.xml.flat
build/intermediates/res/merged/debug/color_abc_tint_seek_thumb.xml.flat
build/intermediates/res/merged/debug/color_abc_tint_spinner.xml.flat
build/intermediates/res/merged/debug/color_abc_tint_switch_track.xml.flat
build/intermediates/res/merged/debug/color_design_error.xml.flat
build/intermediates/res/merged/debug/color_design_tint_password_toggle.xml.flat
build/intermediates/res/merged/debug/drawable-anydpi-v21_design_ic_visibility.xml.flat
build/intermediates/res/merged/debug/drawable-anydpi-v21_design_ic_visibility_off.xml.flat
build/intermediates/res/merged/debug/drawable-hdpi-v4_abc_ic_star_black_48dp.png.flat
build/intermediates/res/merged/debug/drawable-hdpi-v4_abc_ic_star_half_black_48dp.png.flat
build/intermediates/res/merged/debug/drawable-hdpi-v4_abc_text_select_handle_left_mtrl_dark.png.flat
build/intermediates/res/merged/debug/drawable-hdpi-v4_abc_text_select_handle_left_mtrl_light.png.flat
build/intermediates/res/merged/debug/drawable-hdpi-v4_abc_text_select_handle_middle_mtrl_dark.png.flat
build/intermediates/res/merged/debug/drawable-hdpi-v4_abc_text_select_handle_middle_mtrl_light.png.flat
build/intermediates/res/merged/debug/drawable-hdpi-v4_abc_text_select_handle_right_mtrl_dark.png.flat
build/intermediates/res/merged/debug/drawable-hdpi-v4_abc_text_select_handle_right_mtrl_light.png.flat
build/intermediates/res/merged/debug/drawable-hdpi-v4_design_ic_visibility.png.flat
build/intermediates/res/merged/debug/drawable-hdpi-v4_design_ic_visibility_off.png.flat
build/intermediates/res/merged/debug/drawable-hdpi-v4_notification_bg_low_normal.9.png.flat
build/intermediates/res/merged/debug/drawable-hdpi-v4_notification_bg_low_pressed.9.png.flat
build/intermediates/res/merged/debug/drawable-hdpi-v4_notification_bg_normal.9.png.flat
build/intermediates/res/merged/debug/drawable-hdpi-v4_notification_bg_normal_pressed.9.png.flat
build/intermediates/res/merged/debug/drawable-hdpi-v4_notify_panel_notification_icon_bg.png.flat
build/intermediates/res/merged/debug/drawable-mdpi-v4_abc_ic_star_black_48dp.png.flat
build/intermediates/res/merged/debug/drawable-mdpi-v4_abc_ic_star_half_black_48dp.png.flat
build/intermediates/res/merged/debug/drawable-mdpi-v4_abc_text_select_handle_left_mtrl_dark.png.flat
build/intermediates/res/merged/debug/drawable-mdpi-v4_abc_text_select_handle_left_mtrl_light.png.flat
build/intermediates/res/merged/debug/drawable-mdpi-v4_abc_text_select_handle_middle_mtrl_dark.png.flat
build/intermediates/res/merged/debug/drawable-mdpi-v4_abc_text_select_handle_middle_mtrl_light.png.flat
build/intermediates/res/merged/debug/drawable-mdpi-v4_abc_text_select_handle_right_mtrl_dark.png.flat
build/intermediates/res/merged/debug/drawable-mdpi-v4_abc_text_select_handle_right_mtrl_light.png.flat
build/intermediates/res/merged/debug/drawable-mdpi-v4_design_ic_visibility.png.flat
build/intermediates/res/merged/debug/drawable-mdpi-v4_design_ic_visibility_off.png.flat
build/intermediates/res/merged/debug/drawable-mdpi-v4_notification_bg_low_normal.9.png.flat
build/intermediates/res/merged/debug/drawable-mdpi-v4_notification_bg_low_pressed.9.png.flat
build/intermediates/res/merged/debug/drawable-mdpi-v4_notification_bg_normal.9.png.flat
build/intermediates/res/merged/debug/drawable-mdpi-v4_notification_bg_normal_pressed.9.png.flat
build/intermediates/res/merged/debug/drawable-mdpi-v4_notify_panel_notification_icon_bg.png.flat
build/intermediates/res/merged/debug/drawable-v21_avd_hide_password.xml.flat
build/intermediates/res/merged/debug/drawable-v21_avd_show_password.xml.flat
build/intermediates/res/merged/debug/drawable-v21_design_bottom_navigation_item_background.xml.flat
build/intermediates/res/merged/debug/drawable-v21_design_password_eye.xml.flat
build/intermediates/res/merged/debug/drawable-v21_notification_action_background.xml.flat
build/intermediates/res/merged/debug/drawable-xhdpi-v4_abc_ic_star_black_48dp.png.flat
build/intermediates/res/merged/debug/drawable-xhdpi-v4_abc_ic_star_half_black_48dp.png.flat
build/intermediates/res/merged/debug/drawable-xhdpi-v4_abc_text_select_handle_left_mtrl_dark.png.flat
build/intermediates/res/merged/debug/drawable-xhdpi-v4_abc_text_select_handle_left_mtrl_light.png.flat
build/intermediates/res/merged/debug/drawable-xhdpi-v4_abc_text_select_handle_middle_mtrl_dark.png.flat
build/intermediates/res/merged/debug/drawable-xhdpi-v4_abc_text_select_handle_right_mtrl_dark.png.flat
build/intermediates/res/merged/debug/drawable-xhdpi-v4_abc_text_select_handle_right_mtrl_light.png.flat
build/intermediates/res/merged/debug/drawable-xhdpi-v4_design_ic_visibility.png.flat
build/intermediates/res/merged/debug/drawable-xhdpi-v4_design_ic_visibility_off.png.flat
build/intermediates/res/merged/debug/drawable-xhdpi-v4_notification_bg_low_normal.9.png.flat
build/intermediates/res/merged/debug/drawable-xhdpi-v4_notification_bg_low_pressed.9.png.flat
build/intermediates/res/merged/debug/drawable-xhdpi-v4_notification_bg_normal.9.png.flat
build/intermediates/res/merged/debug/drawable-xhdpi-v4_notification_bg_normal_pressed.9.png.flat
build/intermediates/res/merged/debug/drawable-xhdpi-v4_notify_panel_notification_icon_bg.png.flat
build/intermediates/res/merged/debug/drawable-xxhdpi-v4_abc_ic_star_black_48dp.png.flat
build/intermediates/res/merged/debug/drawable-xxhdpi-v4_abc_ic_star_half_black_48dp.png.flat
build/intermediates/res/merged/debug/drawable-xxhdpi-v4_abc_text_select_handle_left_mtrl_dark.png.flat
build/intermediates/res/merged/debug/drawable-xxhdpi-v4_abc_text_select_handle_left_mtrl_light.png.flat
build/intermediates/res/merged/debug/drawable-xxhdpi-v4_abc_text_select_handle_middle_mtrl_dark.png.flat
build/intermediates/res/merged/debug/drawable-xxhdpi-v4_abc_text_select_handle_middle_mtrl_light.png.flat
build/intermediates/res/merged/debug/drawable-xxhdpi-v4_abc_text_select_handle_right_mtrl_dark.png.flat
build/intermediates/res/merged/debug/drawable-xxhdpi-v4_abc_text_select_handle_right_mtrl_light.png.flat
build/intermediates/res/merged/debug/drawable-xxhdpi-v4_design_ic_visibility.png.flat
build/intermediates/res/merged/debug/drawable-xxhdpi-v4_design_ic_visibility_off.png.flat
build/intermediates/res/merged/debug/drawable-xxxhdpi-v4_abc_ic_star_black_48dp.png.flat
build/intermediates/res/merged/debug/drawable-xxxhdpi-v4_abc_ic_star_half_black_48dp.png.flat
build/intermediates/res/merged/debug/drawable-xxxhdpi-v4_abc_text_select_handle_left_mtrl_dark.png.flat
build/intermediates/res/merged/debug/drawable-xxxhdpi-v4_abc_text_select_handle_left_mtrl_light.png.flat
build/intermediates/res/merged/debug/drawable-xxxhdpi-v4_abc_text_select_handle_right_mtrl_dark.png.flat
build/intermediates/res/merged/debug/drawable-xxxhdpi-v4_abc_text_select_handle_right_mtrl_light.png.flat
build/intermediates/res/merged/debug/drawable-xxxhdpi-v4_design_ic_visibility.png.flat
build/intermediates/res/merged/debug/drawable-xxxhdpi-v4_design_ic_visibility_off.png.flat
build/intermediates/res/merged/debug/drawable_abc_dialog_material_background.xml.flat
build/intermediates/res/merged/debug/drawable_abc_ic_ab_back_material.xml.flat
build/intermediates/res/merged/debug/drawable_abc_ic_arrow_drop_right_black_24dp.xml.flat
build/intermediates/res/merged/debug/drawable_abc_ic_clear_material.xml.flat
build/intermediates/res/merged/debug/drawable_abc_ic_go_search_api_material.xml.flat
build/intermediates/res/merged/debug/drawable_abc_ic_menu_overflow_material.xml.flat
build/intermediates/res/merged/debug/drawable_abc_ic_search_api_material.xml.flat
build/intermediates/res/merged/debug/drawable_abc_ic_voice_search_api_material.xml.flat
build/intermediates/res/merged/debug/drawable_abc_ratingbar_material.xml.flat
build/intermediates/res/merged/debug/drawable_abc_seekbar_tick_mark_material.xml.flat
build/intermediates/res/merged/debug/drawable_abc_vector_test.xml.flat
build/intermediates/res/merged/debug/drawable_design_bottom_navigation_item_background.xml.flat
build/intermediates/res/merged/debug/drawable_design_fab_background.xml.flat
build/intermediates/res/merged/debug/drawable_design_password_eye.xml.flat
build/intermediates/res/merged/debug/drawable_design_snackbar_background.xml.flat
build/intermediates/res/merged/debug/drawable_navigation_empty_icon.xml.flat
build/intermediates/res/merged/debug/drawable_notification_bg.xml.flat
build/intermediates/res/merged/debug/drawable_notification_bg_low.xml.flat
build/intermediates/res/merged/debug/drawable_notification_icon_background.xml.flat
build/intermediates/res/merged/debug/drawable_notification_tile_bg.xml.flat
build/intermediates/res/merged/debug/drawable_tooltip_frame_dark.xml.flat
build/intermediates/res/merged/debug/drawable_tooltip_frame_light.xml.flat
build/intermediates/res/merged/debug/layout-sw600dp-v13_design_layout_snackbar.xml.flat
build/intermediates/res/merged/debug/layout-v11_preference_dropdown.xml.flat
build/intermediates/res/merged/debug/layout-v16_notification_template_custom_big.xml.flat
build/intermediates/res/merged/debug/layout-v21_notification_action.xml.flat
build/intermediates/res/merged/debug/layout-v21_notification_action_tombstone.xml.flat
build/intermediates/res/merged/debug/layout-v21_notification_template_custom_big.xml.flat
build/intermediates/res/merged/debug/layout-v21_notification_template_icon_group.xml.flat
build/intermediates/res/merged/debug/layout-v26_abc_screen_toolbar.xml.flat
build/intermediates/res/merged/debug/layout_abc_alert_dialog_title_material.xml.flat
build/intermediates/res/merged/debug/layout_abc_popup_menu_header_item_layout.xml.flat
build/intermediates/res/merged/debug/layout_design_bottom_navigation_item.xml.flat
build/intermediates/res/merged/debug/layout_design_bottom_sheet_dialog.xml.flat
build/intermediates/res/merged/debug/layout_design_layout_snackbar.xml.flat
build/intermediates/res/merged/debug/layout_design_layout_snackbar_include.xml.flat
build/intermediates/res/merged/debug/layout_design_layout_tab_icon.xml.flat
build/intermediates/res/merged/debug/layout_design_layout_tab_text.xml.flat
build/intermediates/res/merged/debug/layout_design_menu_item_action_area.xml.flat
build/intermediates/res/merged/debug/layout_design_navigation_item.xml.flat
build/intermediates/res/merged/debug/layout_design_navigation_item_header.xml.flat
build/intermediates/res/merged/debug/layout_design_navigation_item_separator.xml.flat
build/intermediates/res/merged/debug/layout_design_navigation_item_subheader.xml.flat
build/intermediates/res/merged/debug/layout_design_navigation_menu.xml.flat
build/intermediates/res/merged/debug/layout_design_navigation_menu_item.xml.flat
build/intermediates/res/merged/debug/layout_design_text_input_password_icon.xml.flat
build/intermediates/res/merged/debug/layout_notification_action.xml.flat
build/intermediates/res/merged/debug/layout_notification_action_tombstone.xml.flat
build/intermediates/res/merged/debug/layout_notification_template_big_media_custom.xml.flat
build/intermediates/res/merged/debug/layout_notification_template_big_media_narrow_custom.xml.flat
build/intermediates/res/merged/debug/layout_notification_template_icon_group.xml.flat
build/intermediates/res/merged/debug/layout_notification_template_lines_media.xml.flat
build/intermediates/res/merged/debug/layout_notification_template_media_custom.xml.flat
build/intermediates/res/merged/debug/layout_tooltip.xml.flat
build/intermediates/res/merged/debug/values-az_values-az.arsc.flat
build/intermediates/res/merged/debug/values-b+sr+Latn_values-b+sr+Latn.arsc.flat
build/intermediates/res/merged/debug/values-be_values-be.arsc.flat
build/intermediates/res/merged/debug/values-bn_values-bn.arsc.flat
build/intermediates/res/merged/debug/values-bs_values-bs.arsc.flat
build/intermediates/res/merged/debug/values-en-rCA_values-en-rCA.arsc.flat
build/intermediates/res/merged/debug/values-en-rXC_values-en-rXC.arsc.flat
build/intermediates/res/merged/debug/values-et_values-et.arsc.flat
build/intermediates/res/merged/debug/values-eu_values-eu.arsc.flat
build/intermediates/res/merged/debug/values-gl_values-gl.arsc.flat
build/intermediates/res/merged/debug/values-gu_values-gu.arsc.flat
build/intermediates/res/merged/debug/values-hy_values-hy.arsc.flat
build/intermediates/res/merged/debug/values-is_values-is.arsc.flat
build/intermediates/res/merged/debug/values-ka_values-ka.arsc.flat
build/intermediates/res/merged/debug/values-kk_values-kk.arsc.flat
build/intermediates/res/merged/debug/values-km_values-km.arsc.flat
build/intermediates/res/merged/debug/values-kn_values-kn.arsc.flat
build/intermediates/res/merged/debug/values-ky_values-ky.arsc.flat
build/intermediates/res/merged/debug/values-lo_values-lo.arsc.flat
build/intermediates/res/merged/debug/values-mk_values-mk.arsc.flat
build/intermediates/res/merged/debug/values-ml_values-ml.arsc.flat
build/intermediates/res/merged/debug/values-mn_values-mn.arsc.flat
build/intermediates/res/merged/debug/values-mr_values-mr.arsc.flat
build/intermediates/res/merged/debug/values-ms_values-ms.arsc.flat
build/intermediates/res/merged/debug/values-my_values-my.arsc.flat
build/intermediates/res/merged/debug/values-ne_values-ne.arsc.flat
build/intermediates/res/merged/debug/values-pa_values-pa.arsc.flat
build/intermediates/res/merged/debug/values-si_values-si.arsc.flat
build/intermediates/res/merged/debug/values-sq_values-sq.arsc.flat
build/intermediates/res/merged/debug/values-ta_values-ta.arsc.flat
build/intermediates/res/merged/debug/values-te_values-te.arsc.flat
build/intermediates/res/merged/debug/values-ur_values-ur.arsc.flat
build/intermediates/res/merged/debug/values-uz_values-uz.arsc.flat
build/intermediates/res/merged/debug/values-v16_values-v16.arsc.flat
build/intermediates/res/merged/debug/values-v24_values-v24.arsc.flat
build/intermediates/res/merged/debug/values-v25_values-v25.arsc.flat
build/intermediates/res/merged/debug/values-v26_values-v26.arsc.flat
