.idea
out/
.settings
bin/
gen/
.classpath
.project
wififixer/build.properties
wififixer/local.properties
wififixer/default.properties
wififixer/project.properties
wififixer/build.xml
wififixer/lint.xml
wififixer/proguard_logs
wififixer/wififixer.iml
