<?xml version="1.0" encoding="utf-8"?>
<!--
		Copyright [2010-2012] [David Van de Ven] Licensed under the Apache
		License, Version 2.0 (the "License"); you may not use this file except
		in compliance with the License. You may obtain a copy of the License
		at http://www.apache.org/licenses/LICENSE-2.0 Unless required by
		applicable law or agreed to in writing, software distributed under the
		License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
		CONDITIONS OF ANY KIND, either express or implied. See the License for
		the specific language governing permissions and limitations under the
		License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.wahtod.wififixer"
    android:installLocation="internalOnly"
    android:versionCode="939"
    android:versionName="0.9.5b2" >

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" >
    </supports-screens>

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="14" />

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="true" >
    </uses-feature>

    <application
        android:backupAgent=".prefs.PrefsBackupAgent"
        android:description="@string/app_desc"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:restoreAnyVersion="true"
        android:theme="@style/ThemeWifiFixer" >
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIAGomq--y98O0VHARd55VOdh8CoEphVxKfVXAHw" />
        <!-- Main Activity -->
        <activity
            android:name=".ui.WifiFixerActivity"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Support Activities -->
        <activity android:name=".ui.About" />
        <activity android:name=".ui.LogFragmentActivity" />
        <activity android:name=".ui.PrefActivity" />
        <activity android:name=".ui.PrefActivityHC" />
        <activity android:name=".ui.HelpActivity" />
        <activity android:name=".ui.ToastActivity" />

        <!-- Starts Boot thread service which waits 30s to run WifiFixerService -->
        <receiver android:name=".boot.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".boot.BootService"
            class="BootService" >
        </service>

        <!-- Handles incoming external intents -->
        <receiver android:name=".WFBroadcastReceiver" >
            <intent-filter>
                <action android:name="org.wahtod.wififixer.ACTION_WIFI_SERVICE_DISABLE" />
                <action android:name="org.wahtod.wififixer.ACTION_WIFI_SERVICE_ENABLE" />
                <action android:name="org.wahtod.wififixer.WIDGET" />
                <action android:name="org.wahtod.wififixer.AUTH" />
                <action android:name="org.wahtod.wififixer.ACTION_WIFI_ON" />
                <action android:name="org.wahtod.wififixer.ACTION_WIFI_OFF" />
                <action android:name="org.wahtod.wififixer.ACTION_WIFI_TOGGLE" />
            </intent-filter>
        </receiver>

        <!--
			Widget intent dispatch
			and support
        -->

        <receiver
            android:name=".widget.WidgetReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="org.wahtod.wififixer.WidgetReceiver.WIFI_ON" />
                <action android:name="org.wahtod.wififixer.WidgetReceiver.WIFI_OFF" />
                <action android:name="org.wahtod.wififixer.WidgetReceiver.WIFI_TOGGLE" />
                <action android:name="org.wahtod.wififixer.WidgetReceiver.WIFI_REASSOCIATE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".widget.FixerWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="org.wahtod.wififixer.STATNOTIF" >
                </action>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>

        <service android:name=".widget.FixerWidget$UpdateService" >
        </service>
        <service android:name=".widget.FixerWidget$StatusUpdateService" >
        </service>

        <!-- Networking guts: Main Persistent service -->

        <service
            android:name=".WifiFixerService"
            class="WifiFixerService"
            android:exported="false"
            android:persistent="true" >
        </service>

        <!-- Provides LogService.log services -->

        <service
            android:name=".utility.LogService"
            class="LogService" >
>
        </service>

        <!-- Handles asynchronous toggling of wifi state -->

        <service
            android:name=".ToggleService"
            class="ToggleService" >
        </service>
    </application>

    <!-- Documenting permissions here -->
    <!-- For service start (30 seconds from boot_completed) -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- For wifi state -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- For detecting ip connectivity and caching IP of router -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--
		For switching wifi off/on, doing reassociate/reconnect, requesting
		connections, etc.
    -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- For http head check as backup for icmp echo/ping to AP -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- For waking the phone/radio up to do network checks -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- For storing the log so user can send it to me -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- For setting Wifi Sleep Policy -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

</manifest>